<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Order!{{else}}Bring it back!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">report.</button>
</li>
