<div class="row">
	
	<div class="col-md-5">
		<h3 class="title">{{this.title}}</h3>
		<a class="btn btn-primary delete" id="{{this.title}}-{{this.times}}" href="#">Delete</a>
	</div>
	<div class="col-md-7">
		<h3>Notes on a film: <span id="{{this.times}}">{{this.notes}}</span></h3>
        <textarea class="form-control" id="text_{{this._id}}" rows="3"></textarea>
        <a class="btn btn-primary submit" id="{{this.title}}+{{this.times}}+{{this._id}}" href="#">Submit</a>

	</div>
</div>
<!-- /.row -->

<footer>
        <div className="footer-copyright text-center py-3 shadow">© 2019 Copyright
            
        </div>
    </footer>